body {
  background: #FFC2AC;
  font-family: "PT Sans";
  font-size: 16px;
}

h1 {
  text-align: center;
  color: #C16548;
  font-size: 60px;
}

.newspage {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.post {
  width: 200px;
  height: auto;
  border-radius: 15px 15px 0 0;
  margin: 5px;
  display: inline-block;
  overflow: hidden; /* Fix corner breakage - http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius*/
}

#details {
  margin-top: -4px;
  padding: 5px;
}

img {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
}

#details {
  background: white;
}

#title {
  font-weight: bold;
}
