.container-fluid {
  margin-top: 50px;
  width: 800px;
}

/*
Display divs side by side
http://learnlayout.com/inline-block.html
*/
#icon, #temp {
  display: inline-block;
}

#icon-temp {
  font-size: 30px;
  margin: 20px 0 5px 0;
}

#loc-con-wind {
  font-size: 18px
}
