/*
Centering using flex: http://stackoverflow.com/a/22658297/3505851
*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans";
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#c7d6f3, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c7d6f3, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c7d6f3, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c7d6f3, white); /* Standard syntax */
  background-attachment: fixed; /* prevents gradient from restarting */
}

body {
  display: flex;
}

.center {
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #6489c6;
}

input {
  width: 500px;
  border: 1px solid #00ccff !important;
  border-radius: 5px 0 0 5px !important;
}

.fa {
  color: white;
  padding: 8px;
}

#searchAndTitle {
  display: inline-block;
}

#searchButton {
  background: #00ccff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  float: right;
}

#results {
  width: 543px;
  text-align: left;
}

.result {
  width: auto;
  margin: 15px auto;
  padding: 7px;
  background: white;
}

a {
  text-decoration: none !important;
  color: black;
}

#random {
  margin: 0 auto;
}

.fi-die-five {
  font-size: 25px;
  vertical-align: middle;
}
