body {
  background: -webkit-radial-gradient(circle, #007ddb, #000); /* Safari */
  background: -o-radial-gradient(circle, #007ddb, #000); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #007ddb, #000); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #007ddb, #000); /* Standard syntax */
}

.calculator {
  width: 240px;
  height: auto;
  margin: 50px auto;
  font-family: "Open Sans";
  border: 2px outset white;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 11px;
  background: #E0E0E0;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Tangerine";
  text-shadow: 0px 2px 3px #555;
}

.top-row {
  margin-bottom: 2px;
}

#clear {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* terrible alignment! */
input {
  width: 155px;
  height: 42px;
  margin-left: 2px;
  padding: 2px 3px 2px 4px;
  text-align: right;
  vertical-align: bottom;
  font-size: 30px;
  font-family: Roboto;
  color: #444;
  border: 2px inset #888;
  border-radius: 4px;
  background: #A9A9A9;
}

button {
  width: 50px;
  height: 50px;
  margin: 4px 2px;
  font-size: 30px;
  border: 2px outset white;
  border-radius: 10px;
  outline: none;
}

.keys {
  display: inline block;
}

.numbers {
  background: #585858;
  color: white;
}

#clear {
  background: #cc0000;
  color: white;
}

.operations {
  background: #3232ff;
  color: white;
}

#equals {
  background: #006600;
  color: white;
}
