html, body {
  margin-top: 50px;
  background: #444;
}
#title {
  font-family: 'Lato', sans-serif;
  color: #DDD;
}
.container {
  width: 600px;
}
.nav-tabs {
  background-color: #444;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #aaa;
  border-top: none;
  border-bottom: 1px solid cyan !important;
  background-color: #242424;
  border-radius: 0px !important;
}
.nav-tabs > li > a:hover {
  background-color: #333 !important;
  border: medium none;
  color: #fff;
}
.nav-tabs > li.active > a {
  color: #fff !important;
  background-color: #333 !important;
  border-left: 1px solid cyan !important;
  border-right: 1px solid cyan !important;
  border-top: 1px solid cyan !important;
  border-bottom: none !important;
}
.tab-content {
  background-color: #333;
  color: #fff;
  padding: 5px;
}
.tab-content {
  border-left: 1px solid cyan;
  border-right: 1px solid cyan;
  border-bottom: 1px solid cyan;
  border-radius: 0 0 8px 8px;
  padding: 10px 10px 0px 10px;
}
.tab-content li {
  padding-bottom: 3px;
}
.list-group-item {
  background-color: #333;
  border: none;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
}
img {
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}
a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.status {
  float: right;
  padding-top: 4px;
  width: 70%;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
