body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 50px;
}

p, .btn {
  font-family: 'Lateef', cursive;
  font-size: 30px;
}

.btn {
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#quote, #author {
  font-family: 'Lateef', cursive;
  font-size: 35px;
}

#author {
  font-style: italic;
}
