/* Disable highlighting */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  margin-top: 50px;
  width: 500px;
}

#break,
#session {
  display: inline-block;
  margin: 10px 40px;
}

#fcc-header {
  font-family: Calligraffitti;
  font-size: 70px;
}

#break-header,
#session-header {
  font-family: 'Roboto Mono';
  font-size: 16px;
}

.control-panel {
  font-family: 'Roboto Mono';
  font-size: 30px;
  display: inline-block;
  margin: 0px 5px;
}

.controls {
  cursor: pointer;
}

.timer-area {
  font-size: 30px;
  border: 2px solid red;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

/* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
.timer-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
}

#timer-status {
  margin-bottom: 20px;
}
